@model IEnumerable<iHouse.Models.House>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HouseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HouseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HouseId })
        </td>
    </tr>
}

</table>
