
@{
    ViewBag.Title = "Index";
}

<h2>Property</h2>
@Html.ActionLink("List a property", "Add", "Property")<br />
@Html.ActionLink("Update my property", "Update", "Property")<br />
@Html.ActionLink("Delete a property", "Delete", "Property")
<div>
    <form method="post" action="~/Property/Search">
        <table>
            <tr>
                <th>Region</th>
                <th>Suburb</th>
                <th>Type</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" name="Region" /></td>
                <td><input type="text" name="Suburb" /></td>
                <td><input type="text" name="Type" /></td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>
</div>
<table class="table">
    <tr>
        <th>Region</th>
        <th>Suburb</th>
        <th>Location</th>
        <th>Property Type</th>
        <th>Number of Rooms</th>
        <th>Floor Area</th>
        <th>Land Area</th>
        <th>RV</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Region</td>
            <td>@item.Suburb</td>
            <td>@item.Location</td>
            <td>@item.Type</td>
            <td>@item.Room</td>
            <td>@item.FloorArea</td>
            <td>@item.LandArea</td>
            <td>@item.RV</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
