@model iHouse.Models.House
@{
    ViewBag.Title = "Index";
}

<h2>Property</h2>
<hr />
<input class="link" type="button" value="List a Property" onclick="location.href = '@Url.Action("Index", "MyProperty")'" />
<input class="link" type="button" value="Manage My Property" onclick="location.href = '@Url.Action("Index", "MyProperty")'" />
<br />
<br />

@using (Html.BeginForm("Index", "Property", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Region)</th>
            <th>@Html.LabelFor(model => model.Suburb)</th>
            <th>@Html.LabelFor(model => model.Type)</th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(model => model.Region)</td>
            <td>@Html.TextBoxFor(model => model.Suburb)</td>
            <td>@Html.TextBoxFor(model => model.Type)</td>
            <td>@Html.ActionLink("Reset", "Index", "Property", new { @style = "border:1px solid #009900; padding:6px; border-radius:4px; color:#009900" })</td>
            <td><input class="submit" type="submit" value="Search" /></td>
        </tr>
    </table>
}
@TempData["SeachFailed"]

<br />
<table class="table">
    @if (ViewBag.List.Count == 0)
    {
        <tr>
            <td style="color:red">Sorry, we couldn't find a matched property</td>
        </tr>
    }
    @foreach (var item in ViewBag.List)
    {
        <tr>
            <td>
                <h4>
                    @item.Type <span>type </span>@item.Room <span>rooms</span><br />
                </h4>
                <h4>
                    <span>Land: </span>@item.LandArea.ToString("n2") <span>m² (Floor: </span>@item.FloorArea.ToString("n2")<span> m² )</span>
                </h4>
                <h4><span>$</span>@item.RV.ToString("n2")</h4>
            </td>
            <td align="right" style="color:#aaaaaa">
                <br />
                @item.Suburb <span>-</span> @item.Region <br />
                @item.Location<br />
                <span style="color:#aaaaaa">@item.Email</span><br /><br />
            </td>
        </tr>

    }
</table>
